.scroll-wrapper {
    @include flex(flex-start, center);
    
    background-color: $light-100;
    width: 100vw;
    height: 100vh;
    overflow-x: scroll;

    * {
        border: $debug;
    }

    // Content wrapper for each content
    .content-wrapper{
        @include flexCol(flex-start, center);
        
        min-width: 100vw;
        height: 100%;
        padding: 1em 0.5em;
        background-color: $light-200;
    
        * {
            margin: 0.5em;
        }
    
        .content {
            width: 100%;
            flex-grow: 1;
            padding: 0 2em;
        }
    }
}
